Purpose: 
This wiki aims to document whether a particular scene release or repack works in Linux. We test (1) Does the repack itself manage to decompress, and (2) does the crack work or not.

Rules of this wiki:
Do not link to websites where you need to create an account in order to access the content.
Do not link to repacks that are not possible to install without a Virtual Machine (that is not a possible solution for a lot of people).

Repackers compatibility with Wine:

IGGGAMES
Installer always works.

FitGirl and DODI Repacks
They use Arc compression method which will fail to unpack the game on Wine in most cases.

xatab repacks
Installer not working. Runtime error.

Games by publisher:
<details>
  <summary>
    CAPCOM
    </summary>
    Devil May Cry 5-CODEX [Wine] - https://1337x.to/torrent/4283284/Devil-May-Cry-5-CODEX/

    * Version: v02062020/3853173
    * DRM-free
    * Extracts flawlessly
    * Works flawlessly
    </details>

    <details>
      <summary>
        
          ### Crunching Koalas
            </summary>
            BUTCHER [GOG][Linux] - https://cloud.mail.ru/public/8TTP/3CD9B9BRp

            * Version: w_i_m_p_gog_10_33399 GOG
            * DRM-free
            * Extracts flawlessly
            * Works flawlessly
            </details>
<details>
      <summary>
        
          ### Devolver Digital
            </summary>
            Ape Out [GOG][Wine] - https://drive.google.com/open?id=1qrveA7rSEnM4bE1DvnqN2jRejKTk9OAN

            * Version: v1.2
            * DRM-free
            * Extracts flawlessly
            * Works flawlessly

            Shadow Warrior Classic Redux [GOG][Linux] - https://cloud.mail.ru/public/AqZZ/oCBUa82hE
            * Version: 1.0
            * DRM-free
            * Extracts flawlessly
            * Works flawlessly
            </details>

<details>
      <summary>
        
          ### Gearbox Software
            </summary>
              
              Homeworld Remastered Collection [GOG][Wine] - https://1337x.to/torrent/2647618/Homeworld-Remastered-Collection-GOG/

              * Version: 2.1
              * DRM-free
              * [Requires a launcher script to be able to access content](https://privatebin.net/?1019ae1d20628c69#8GpB45trD6nTPKfqBV9kqdvN2kCahMGHjU9tdq7bvr5r)
                  * You will need to adjust the paths in the script to point at your wine binary and chosen wineprefix
                      * There is an alterntative script for proton. Check protondb.
                          * There are alternatives if you don't want to use the scripts. You mostly need to isntall dotnet. Follow advice here: [ProtonDB](https://www.protondb.com/app/244160)
                          * Gearbox logo movie is borked
                          * Everything else (including all game cinematics) work flawlessly.
                          </details>


<details>
      <summary>
        
          ### Quantic Dream
            </summary>
            Beyond Two Souls PROPER-HOODLUM [Wine] - https://1337x.to/torrent/4505994/Beyond-Two-Souls-PROPER-HOODLUM/

            * Version: Build 5117920
            * DRM-free
            * Tested with Proton 5.9-GE-2-MF and Lutris 5.7-3
            * Requires xact and directx_Jun2010_redist.exe to fix all audio issues.
            * Runs flawlessly after audio fix.
            </details>

<details>
      <summary>
        
          ### Techland
            </summary>
            Dying Light: The Following v1.15.0 [Linux] - https://1337x.to/torrent/4463887/Dying-Light-The-Following-v1-15-0-Linux-Native/

            * Version: 1.15.0
            * DRM-free
            * Extracts flawlessly
            * Works flawlessly

Dying Light Enhanced Edition MULTi16-PLAZA v1.23.0 [Wine] - https://1337x.to/torrent/4167433/Dying-Light-Enhanced-Edition-MULTi16-PLAZA/)

* Version: 1.27.0
* DRM-free
* Extracts flawlessly
* Works with Wine + DXVK
</details>

<details>
  <summary>

  ### UBISOFT
    </summary>
      Assassin's Creed: Origins - The Curse of the Pharaohs v.1.51 [Linux Wine] https://1337x.to/torrent/4472408/Assassin-s-Creed-Origins-The-Curse-of-the-Pharaohs-v-1-51-Linux-Wine/)

      * Version: 1.5.1
      * Extracts flawlessly
      * Works out of the box

      Needs custom crack to work with Wine (*included in the torrent*)

      Needs the KeyboardMouseEnabled=1 line removed from ACO.ini (Will fix this when I update the torrent)

      Watch Dogs + 16 DLC [Linux Lutris] https://1337x.to/torrent/4526411/Watch-Dogs-16-DLC-Linux-Lutris/

      * Extracts flawlessly
      * Works with Lutris
      * Getting sound to work:
      Sound not working without xact installed and Windows version set to XP. You can setup those with winetricks.
      If sound is still not working, go to winecfg on the libraries tab and add xactengine3_7 as override.
      The sound works properly with Pulse Audio enabled which is enabled by default on Lutris, hence the title. 

Making the game work yourself: 
Download the DODI Repack (not Arc compressed) and add the uncracked folder contents above the game files then add the ALI213 crack above the game files.
Run the game through Lutris, otherwise sound will not work properly.

* Assassin's Creed: Origins
* Assassin's Creed: Syndicate
* Assassin's Creed: Liberation HD
* Assassin's Creed: Unity
* Assassin's Creed IV: Black Flag

* Far Cry: Primal
</details>

Doom Eternal

Use Firejail to block internet access.

<details> 
      <summary>Activision</summary>
      * Call of Duty: Modern Warfare - Remastered
      * 
      * Call Of Duty + United Offensive
      * 
      * Call of Duty: Black Ops
      * 
      * Call of Duty: Black Ops II
      * 
      * Call of Duty: Modern Warfare 3
      * 
      * Call of Duty: Modern Warfare 2
      * 
      * Call of Duty: Ghosts
      * 
      * Call of Duty: Infinite Warfare
      * 
      * Call of Duty 4: Modern Warfare
      * 
      * Call of Duty: Advanced Warfare
      * 
      * Call of Duty 5: World at War
      </details>
<details> 
      <summary>Others</summary>
      * Tainted Grail
      * The Light Remake
      * Valiant Hearts: The Great War
      * JUMP FORCE
      * State of Decay 2: Juggernaut Edition Update 18 (Not working yet)
      * Strategic Mind: The Pacific
      * American Fugitive: State of Emergency
      * Space Engineers: Sparks of the Future
      * PixARK v.1.103 + 2 DLC
      * PC Building Simulator: Overclockers UK Workshop
      * Generation Zero: FNIX Risig
      * Thronebreaker: The Witcher Tales
      * City Car Driving
      * Disco Elysium
      * GreedFall
      * Age of Empires: Definitive Edition
      * Hitman Absolution
      * L.A. Noire
      * Call of Duty 2
      * Desperados III
      * Sniper Elite V2 Remastered
      * Panzer Corps 2: General Edition
      * DCS World
      * Sleeping Dogs: Definitive Edition
      * Unity of Command II: V-E Day
      * Metro Exodus: Gold Edition
      </details>